body {
    margin: 0;
    border: 10px solid #000000;
}

img {
    max-width: 100%;
    vertical-align: text-top;
}

img#responsive {
    display: none;
}

@media screen and (max-width: 768px) {
    img#responsive {
        display: block;
    }

    img {
        display: none;
    }
}